/*home .{}*/

h1{
	color: #f6be11;
	font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
}

.topnav {
  background-color: #f6be11;
  overflow: hidden;
  font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.topnav a {
  float: left;
  color: #3f211c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.topnav a:hover {
  background-color: #3f211c;
  color: #ED1F2A;
  font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.topnav a.active {
  background-color: #f6be11;
  color: #ED1F2A;
  font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.flex-container{
	color: #f6be11;
	font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
  align-content: space-between;
  display: flex;
  flex-direction: column;
}
.paragraph{
	color: #3f211c;
	font-size: 24px;
	border: 4px solid black;
  padding: 20px 20px 20px 20px;
  background-color: #FBA5A6;
  font-family: "badaboom-pro", sans-serif;

}
.head1{
	color: #ed1f2a;
	font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 46px;
  align-self: center ;

}
.head2{
	color: #ed1f2a;
	font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
  align-self: center ;

}
.paragraph2{
  color: #3f211c;
  font-size: 24px;
  border: 4px solid black;
  padding: 20px 20px 20px 20px;
  background-color: #FBA5A6;
  font-family: "badaboom-pro", sans-serif;
  align-self: center ;

}

.head3{
  color: #3f211c;
  font-family: "badaboom-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
  align-self: center ;

}

.head4{
  color: #3f211c;
  font-family: "badaboom-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  align-self: center ;
}

.newst{
	color: black;
	font-weight: 400;
	font-style: normal;
	font-size: 46px;
	border: 4px solid black;
  padding: 5px 5px 5px 5px;
  background-color: lightgrey;
  font-family: "badaboom-pro", sans-serif;
}
