/*home .{}*/

h1{
	color: #f6be11;
	font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
}

.topnav {
  background-color: #f6be11;
  overflow: hidden;
  font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.topnav a {
  float: left;
  color: #3f211c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.topnav a:hover {
  background-color: #3f211c;
  color: #ED1F2A;
  font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.topnav a.active {
  background-color: #f6be11;
  color: #ED1F2A;
  font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.contentParent{
	color: #f6be11;
	font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;


}
.wave{
	color: #3f211c;
	font-size: 24px;
	border: 4px solid black;
  padding: 20px 20px 20px 20px;
  background-color: #FBA5A6;
  font-family: "badaboom-pro", sans-serif;

}
.head1{
	color: #ed1f2a;
	font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 46px;

}
.head2{
	color: #ed1f2a;
	font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
}
.emily{
	position: absolute;
  left: 45px;
  width: 300px;
  border: 3px solid black;
  padding: 10px;
  background-color: #FBA5A6;
  font-size: 25px;
  font-family: "badaboom-pro", sans-serif;


}
.maya{
	position: absolute;
  left: 400px;
  width: 300px;
  border: 3px solid black;
  padding: 10px;
  background-color: #FBA5A6;
  font-size: 24px;
  font-family: "badaboom-pro", sans-serif;

}
.shire{
	position: absolute;
  left: 750px;
  width: 300px;
  border: 3px solid black;
  padding: 10px;
  background-color: #FBA5A6;
  font-size: 24px;
  font-family: "badaboom-pro", sans-serif;

}
.ada{
	position: absolute;
  left: 1100px;
  width: 300px;
  border: 3px solid black;
  padding: 10px;
  background-color: #FBA5A6;
  font-size: 24px;
  font-family: "badaboom-pro", sans-serif;
}

.truth{
	position: absolute;
  left: 45px;
  width: 330px;
  border: 3px solid black;
  padding: 10px;
  background-color: #FBA5A6;
  font-size: 25px;
  font-family: "badaboom-pro", sans-serif;
}
.gloria{
	position: absolute;
  left: 420px;
  width: 300px;
  border: 3px solid black;
  padding: 10px;
  background-color: #FBA5A6;
  font-size: 17px;
  font-family: "badaboom-pro", sans-serif;

}
.gloria2{
	position: absolute;
  left: 770px;
  width: 300px;
  border: 3px solid black;
  padding: 10px;
  background-color: #FBA5A6;
  font-size: 17px;
  font-family: "badaboom-pro", sans-serif;

}
.emma{
	position: absolute;
  left: 1120px;
  width: 300px;
  border: 3px solid black;
  padding: 10px;
  background-color: #FBA5A6;
  font-size: 20px;
  font-family: "badaboom-pro", sans-serif;
}
.nicole{
	color: #f7ee2a;
	font-family: "badaboom-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 70px;

}
.newst{
	color: black;
	font-weight: 400;
	font-style: normal;
	font-size: 46px;
	border: 4px solid black;
  padding: 5px 5px 5px 5px;
  background-color: lightgrey;
  font-family: "badaboom-pro", sans-serif;
}
